/* Under-Development Warning Box */

div.warning {
    background: #fdd;
    margin:     1em 4em;
    border:     solid 4px red;
    padding:    0em 4ex;
}

div.warning a {
    font-family: sans-serif;
}

div.warning p {
    font-family: sans-serif;
    font-size:   100%;
    font-weight: normal;
    color:       black;
}

div.warning p.title {
    font-family: sans-serif;
    font-size:   160%;
    font-weight: bold;
    color:       red;
}


/* General Body Styles */

body {
    font-family: sans-serif;
}

.md a {
    font-family: sans-serif;
}

.md div.title {
    font-size: 220%;
    letter-spacing: -0.06em;
}

.md .subtitle {
    font-size: 100%;
    font-style: italic;
}

.md .longTOC, .md .mediumTOC, .md .shortTOC {
    font-family: sans-serif;
}

.md .longTOC {
    width: 72%;
    margin: 2em auto 0 auto;
    padding: 0 4ex 1em 4ex;
    border: solid 4px #e0e0d0;
    background: #e4e4d8;
}

.md .tocHeader {
    font-size: 165%;
    margin-bottom: -1em;
    border-bottom: solid 4px #777;
}

.md h1 {
    font-size: 165%;
    letter-spacing: -0.05ex;
    margin-top: 2em;
    padding-top: 0.25em;
    border-bottom: solid 4px #777;
    text-align: left;
}

.md h1::before {
    content: counter(h1) ". ";
}

.md h2::before {
    content: counter(h1) "." counter(h2) ". ";
}


/* Code */

.md code {
    font-family: Consolas, Menlo, monospace;
    color: #000;
}

.md p code {
    padding: 0 .4ex;
    background: #e4e4e0;
}

.md pre.listing.tilde {
    border: solid 3px #d4d4d4;
    background: #e4e4e0;
}

.md pre.listing.tilde code {
    font-size: 86%;
}

.md .hljs-meta {
    color: #d60;
}

.md .hljs-title {
    font-weight: bold;
}

.md .hljs-number {
    color: #0a0;
}


/* Images and Figures */

.md img {
    margin-top: 1.5em;
    width: 72ex;
}

.md div.imagecaption {
    text-align: center;
    margin-bottom: 1em;
}
