/* -------------------------------------------------------------------------------------------------
** Code Highlighting Style Test
**
** To use these test styles, go to the bottom of the Markdeep document and find the line containing
**
**     <link rel='stylesheet' href='../style/book.css'>
**
** Add this line following:
**
**     <link rel='stylesheet' href='../style/book-highlight-test.css'>
**
** -----------------------------------------------------------------------------------------------*/

.md pre.listing.tilde {
    border: solid 3px #d4d4d4;
    padding: 1.5ex;
    min-width: 96%;
    width: fit-content;
    background: #eee;
}

.md code {
    /* All code, both in fenced blocks and inline. */
    font-family: Consolas, Menlo, monospace;
    font-size: 86%;
    color: #000;
    background: #eee;
}

.md pre.listing.tilde code {
    /* Only code in fenced blocks. */
    letter-spacing: -0.20;
    background: #eee;
}

/* Hilight.js Syntax Coloring */

.hljs-attr                 { color: #0ff; } /* Cyan Bright */
.hljs-built_in             { color: #0cc; } /* Cyan */
.hljs-comment              { color: #00f; } /* Blue */
.hljs-doctag               { color: #fff; } /* White */
.hljs-function .hljs-title { color: #f00; } /* Red */
.hljs-keyword              { color: #0a0; } /* Green Dark */
.hljs-literal              { color: #00a; } /* Blue Dark */
.hljs-meta                 { color: #ff0; } /* Yellow Bright */
.hljs-keyword              { color: #f0f; } /* Purple Bright */
.hljs-meta .hljs-keyword   { color: #fa0; } /* Orange */
.hljs-name                 { color: #0ff; font-weight: 900; } /* Cyan Bright Extra Bold */
.hljs-number               { color: #f00; text-decoration: underline; } /* Red Underline */
.hljs-operator             { color: #fff; } /* White */
.hljs-params               { color: #f00; font-style: italic; } /* Red Italic */
.hljs-string               { color: #aaa; } /* Gray */
.hljs-tag                  { font-weight: 900; } /* Extra Bold */
.hljs-title                { color: #b0b; } /* Purple Dark */
.hljs-class_               { color: #0f0; } /* Green Bright */
.hljs-type                 { color: #f00; font-weight: 900; } /* Red extra bold */

/* Code Line Types */

.md code > .highlight {
    background-color: #ccdbc8;
}

.md code > .delete {
    text-decoration: line-through;
    background-color: #;
    color: #a0a0a0;
    background: #e0cfcc;
}
