body {
    margin: 3em 8%;
    font-family: Helvetica, Arial, sans-serif;
}

div.content {
    max-width: 40em;
    margin: 0 auto;
}

h1 {
    font-family: Copperplate Gothic, Georgia, serif;
    font-weight: 900;
}

h1.title {
    font-variant: small-caps;
    text-align: center;
    font-size: 260%;
    margin: 3em 0 2em 0;
}

div.books {
    text-align: center;
    margin: 5em 0;
}

div.books a {
    text-decoration: none;
}

img {
    margin: 0 16px;
}

p {
    line-height: 140%;
}
