body {
}

/* Under-Development Warning Box */

div.warning {
    background: #fee;
    margin:     1em 4em 4em 4em;
    border:     solid 4px red;
    padding:    0em 4ex 1em 4ex;
}

div.warning a {
    font-family: sans-serif;
}

div.warning p {
    font-family: sans-serif;
    font-size:   100%;
    font-weight: normal;
    color:       black;
}

div.warning p.title {
    font-family: sans-serif;
    font-size:   160%;
    font-weight: bold;
    color:       red;
}
